*{
    margin: 0;
}

nav {
    min-width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    transition: all 0.5s;
    z-index: 1024;
}

nav:not(.vertical) {
    flex-direction: row;
    max-height: 64px;
}

nav.vertical {
    flex-direction: column;
}

nav span {
    padding: 0;
    padding-left: 0.25em;
    padding-right: 0.25em;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 0.2s;
}


nav a {
    text-decoration: none;
    color: rgb(0, 158, 225);
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    transition: all 0.2s;
}

nav.vertical a {
    font-size: 2em;
    text-align: left;
}

nav ul {
    display: grid;
    padding: 0;
    transition: all 0.2s;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0 auto 0 0;
    width: 100%;
}

nav:not(.vertical) ul {
    grid-template-columns: repeat(5, 1fr);
}

nav.vertical ul {
    grid-template-rows: auto;
    padding-bottom: 3em;
}

nav li {
    list-style: none;
    margin: auto;
    padding: 0 1em 0 1em;
}

nav.vertical li {
    margin-bottom: 0.75em;
    margin-top: 0.75em;
}

nav li:hover a {
    text-shadow: 0px 0px 25px rgb(0, 247, 255);
    transition: all 0.2s;
}


nav.hidden ul {
    overflow: hidden;
    width: 0;
    transition: all 0.2s;
    background-color: transparent;
}

nav.hidden span {
    background-color: transparent;
    transition: all 0.2s;
}

html {
    animation: focus 2s cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal forwards;
    max-width: 1920px;
    background-color: white;
    margin: auto;
}

@keyframes focus {
    0% {
        filter: blur(100px) brightness(5);
    }
    100% {
        filter: blur(0px) brightness(1);
    }
}

h1 {
    padding-top: 1em;
}

.part1 {
    background-image: url("./res/near-end.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.part2 {
    background-image: url("./res/lights-industry.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.wt {
    color : white;
}

.wt h1 {
    text-shadow: 2px 2px 15px rgb(0, 0, 0);
}

.wt:not(.intro) p {
    text-shadow: 2px 2px 7px rgb(0, 0, 0);
}

.intro {
    text-align: center;
    height: 400px;
    text-shadow: 2px 2px 15px rgb(0, 0, 0);
}

.intro b, h1 {
    font-size: 60px;
}

.intro p {
    font-size: 40px;
    margin: 0;
    position: relative;
    animation: wave 5s ease-in-out infinite alternate both;
}

h1:not(div.skew h1) {
    animation: titles 3s ease-in-out infinite alternate both;
}

.subinter {
    margin-top:384px;
}

@keyframes wave {
    0% {transform: translate(0, 115px);}
    100% {transform: translate(0, 155px);}
}

@keyframes titles {
    0% {transform: translate(0, 0px);}
    100% {transform: translate(0, 25px);}
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.cv p {
    font-size: 20px;
    width: 60%;
    margin-top: 2em;
    padding-bottom: 2em;
    text-align: justify;
    line-height: 150%;
}

.cv h1, .cv p, .skills h1, .skills p {
    padding-left: 5%;
}

.inter {
    background-color: transparent;
    margin-bottom: -384px;
}

div.skew {
    transform: skewY(-9deg) translateY(-500px);
    height:384px;
    background-color: white;
    display: flex;
    z-index: 4;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

div.skew > * {
    transform: skewY(9deg);
}

.skew h1 {
    color: transparent;
    background: linear-gradient(90deg, rgb(128, 29, 80) 0%, rgb(255, 167, 0) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(1.5);
    font-size: 100px;
    text-shadow: 0 0 0px #fff;
}

.skew h2, .grad h2 {
    color: transparent;
    background: linear-gradient(90deg, rgb(128, 29, 80) 0%, rgb(255, 167, 0) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(1.5);
    font-size: 60px;
    text-shadow: 0 0 0px #fff;
    margin: 0.5em;
    margin-top: 2em;
    text-align: center;
}

.skew h3, .grad h3 {
    color: transparent;
    background: linear-gradient(90deg, rgb(128, 29, 80) 0%, rgb(255, 167, 0) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    filter: brightness(1.5);
    font-size: 35px;
    text-shadow: 0 0 0px #fff;
    margin: 0.5em;
    margin-top: 2em;
    text-align: center;
}

@keyframes dig {
    0% {text-shadow: 0 0 0px #fff;}
    100% {text-shadow: 0 0 7px #ffffff00;}
}

div.intertop {
    height: 300px;
    z-index: 2;
    margin-top: -1px;
    padding-top: 1px;
}

div.interbot {
    height: 300px;
    z-index: 2;
    margin-bottom: -1px;
    padding-bottom: 1px;
}

.skills {
    height: 128px;
}

div.wt p, .grad > div {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}


div.wt p.active, .grad > div.active {
    transform: translateY(0);
    opacity: 1;
}

div img:not(.socials) {
    border-radius: 12px;
}

div img.socials {
    border-radius: 8px;
}

.grad a img, .grad a video {
    transition: 0.25s all;
}

.grad a img:hover, .grad a video:hover {
    transition: 0.25s all;
    box-shadow: 0 0 5px rgb(220, 240, 255), 0 0 5px rgb(220, 240, 255), 0 0 35px rgb(55, 0, 255);
}

footer {
    margin-top: 30em;
}

footer a {
    color:#ff8725;
    text-decoration: none;
}